

body {
	background: url(../img/bg.png)
}








/* layout */ 


.container {
	
	width: 90%;
	margin: 0 auto 0;
	
}



/* adaptive content */

embed, img {
	max-width: 100%;
	width: 100%;

}


article section {
	width: 46%;
	padding: 2%;
	float: left;
}


@media (min-width: 960px) {
	#home {
		width: 300px;
	}

	#youtube-big {
		display: none;
	}
}



@media (min-width: 768px) {

	
}


@media (max-width: 480px) {
	#youtube-med {
		display: block;
	}

	article section {
		float: none;
		width: 100%;
	}
	
}




/* Navigation*/

.main-nav {
	margin: 15px auto 0;

	width: 700px;


	display: flex;
	height: 100%;
}

.main-nav li {
	list-style: none;
	margin-left: 8px;
	margin-right: 8px;

	flex-grow: 1;
	
	transition: .1s;
}

.main-nav a {
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #ddd;
	trasition: .4s;
	
}

.main-nav a:hover {
	background-color: #eee;
}

.main-nav li:hover {

	
	flex-grow: 2;
	
}
