

body {
	background: url(../img/bg.png)
}

article section {
	font-family: 'Roboto Condensed', sans-serif;
}

article section h1, footer h3 {
	font-family: 'Playball', cursive;
}


footer {
 margin-bottom: 100px
}








/* layout */ 


.container {
	
	width: 90%;
	margin: 0 auto 0;
	
}



/* adaptive content */

embed, img {
	max-width: 100%;
	width: 100%;

}


article section {
	width: 46%;
	padding: 2%;
	float: left;
}






/* Navigation*/

.main-nav {
	margin: 15px auto 0;

	width: 100%;


	display: inline-block;
	height: 100%;
}

.main-nav li {
	float: left;
	list-style: none;
	margin-left: 8px;
	margin-right: 8px;

	
	
	
}

.main-nav a {
	font-family: 'Playball', cursive;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
	padding: 8px 20px;
	border-radius: 5px;
	background-color: #ddd;
	transition: .4s;
	
}

.main-nav a:hover {

	background-color: #2E1B75;
	padding: 8px 20px;
	transition: .4s;
	color: #fff;
}

@media (min-width: 960px) {
	#home {
		width: 300px;
	}

	#youtube-big {
		display: none;
	}
}



@media (min-width: 768px) {

	
}


@media (max-width: 480px) {
	#youtube-med {
		display: block;
		padding: 10px;
	}

	article section {
		float: none;
		width: 100%;
	}


	.main-nav {
		width: 480px;
	}
	
}
